#badgename input {
}

#orgname input {
    margin-left: 8px;
    padding-left: 3px;
}

#badgedesigner {
    overflow: hidden;
    width: 90%;
    height: 600px;
}

.warning {
    visibility: hidden;
}

#badgename .warning {
    color: red;
}
